{% extends 'prueba/base.html' %}

{% block contenido %}

<h1>Países</h1>
<button><a href="{% url 'paises_crear' %}">Crear</a></button>

<form method="get">
    <input type="text" name="consulta" placeholder="Buscar...">
    <button type="submit">Buscar</button>
</form>

<ul>
    {% for pais in object_list %}
        <li>{{ pais.nombre }} 
            <a href="{% url 'paises_ver' pais.id %}">Ver</a>
            <a href="{% url 'paises_editar' pais.id %}">Editar</a>
            <a href="{% url 'paises_borrar' pais.id %}">Borrar</a>
        </li>
    {% empty %}
        <li>No hay registros.</li>
    {% endfor %}
</ul>

{% endblock contenido %}